section.last__section
    .container
        //+icons('background', 'background__style')
        .last__section-header
            .content-last__section-cards
                .title-last__section-cards
                    span Часто задаваемые вопросы
                .content__container
                    .content__container__background
                        +icons('uzor1', 'newsuzor6__style')
                        +icons('uzor1', 'newsuzor7__style')
                    include cards/lastsectioncards
            a.btn-last__section-cards
                span В раздел


            .title-last__section-partners
                span Партнеры
            .swiper7.mySwiper7(init="false")
                .swiper-wrapper.swiper__wrapper7
                    - for(let i = 0; i<12; i++)
                        .swiper-slide
                            .slide7
                                img(src="img/sakha.png")

