section.section0
    .container
        .section0__content.flex
            .swiper.mySwiper
                .swiper__nav
                    a.swiper__item.btnprev
                        +icon('nav1', 'nav_icon1')
                    a.swiper__item.btnnext
                        +icon('nav2', 'nav_icon2')
                .swiper-wrapper
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                    .swiper-slide
                        include sliders/slide.pug
                .swiper-pagination

