section.section4
    .container
        .section4__content
            .section4__title4
                h2.section4__title4__text Объявления
            .section4__content__main
                .section4__subtitle4
                    .title__subtitle4
                        h3.title__subtitle4__text Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                    .description__subtitle4
                        span.description__subtitle4__text Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
                    .section4__content__main__background
                        +icons('uzor1', 'newsuzor3__style')
                .section4__cards4
                    article.item__cards4
                        .item__description
                            span.item__description__text Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                        .footer__item4
                            +icon('calendar', 'calendaer__icon')
                            span.data__item4 30.11.2022

                    article.item__cards4
                        .item__description
                            span.item__description__text Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                        .footer__item4
                            +icon('calendar', 'calendaer__icon')
                            span.data__item4 30.11.2022

                    article.item__cards4
                        .item__description
                            span.item__description__text Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                        .footer__item4
                            +icon('calendar', 'calendaer__icon')
                            span.data__item4 30.11.2022

                    article.item__cards4
                        .item__description
                            span.item__description__text Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                        .footer__item4
                            +icon('calendar', 'calendaer__icon')
                            span.data__item4 30.11.2022
                //
                    .section4__content__main__background
                        +icons('uzor1', 'newsuzor3__style')
            .section4__btn
                a.section4__btn__text
                    span Все объявления



