-
    let dataswiper = [{img1: '3-1',titlecard1: "Аренда каналов связи",subtitlecard1: 'Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет '},
        {img1: '3-2',titlecard1: "IP-Телефония", subtitlecard1: 'Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет '},
        {img1: '3-3',titlecard1: "Местная телефонная связь", subtitlecard1: 'Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет '},
        {img1: '3-4',titlecard1: "Видеоконференц связь", subtitlecard1: 'Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет '},
        {img1: '3-5',titlecard1: "Доступ к сети Интернет", subtitlecard1: 'Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет '}]

mixin swiperdata(img1,titlecard1,subtitlecard1)
    .swiper-slide.myslide1
        .swiper__header
            +icon(img1, "swiper1__header__icons")
        .swiper1__title
            span=titlecard1
        .swiper1__subtitle
            span=subtitlecard1
        .swiper1__header
            a(href="#").swiper1__header__button
                span Подробнее
                +icons('vectortoright', 'vectortoright__style')

section.section3
    .container
        .section3__content
            h2.section3__title Популярные Услуги
            a.section3__btnleft
                +icon('arrowcircleleft', 'icon__left3')
            a.section3__btnright
                +icon('right3', 'icon__right3')
            .swiper.mySwiper1.swiper1
                .swiper-wrapper
                    each kk in dataswiper
                            +swiperdata(kk.img1, kk.titlecard1, kk.subtitlecard1)
            .swiper-pagination.swiper-pagination1

            a.section3__btn
                span Все услуги

