
- var title_card = "Проверка систем оповещения населения 02 ноября в 10:40"
- var title = "Новости"
- var description__card = 'Во исполнение распоряжения Главы Республики Саха (Якутия) от 25 августа '
section.section6 
    .container 
        .section6_content
            .content__title#content-title
                h2.title__text#title-text= title 
            .content__cards#content-cards
                .contant__cards__icons
                    +icons('uzor1', 'newsuzor4__style')
                    +icons('uzor1', 'newsuzor5__style')
                include cards/newscards
                include cards/newscards
                include cards/newscards

            .section6__button
                span.buttom__text#buttom-text Все новости
