section.section1 
    .container 
        .section1_content
            h1.title__section1 О РЦИТ
            .content__section1
                h3.title__content Наша компания дает радость и комфорт
                span.text__content  Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00 запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
                +icons('uzor1', 'newsuzor1__style')
                +icons('uzor1', 'newsuzor2__style')
            .button__section#button-section
                a.buttom__text#buttom-text Подробнее
