.ticker#ticker
    .swiper.swiper__ticker
        .swiper-wrapper.swiper-wrapper__ticker
            -   for (let i = 0; i< 3; i++)
            .swiper-slide.slide__ticker Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00 запланировано проведение регламентных работ программно-аппаратного комплекса обеспечения информационной безопас...