link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/selectric/selectric.css")
link(rel="stylesheet" href="css/main.css")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
link(rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")