main.main#main
    block section0
        include ./main-contents/section0.pug
    block section1
        include ./main-contents/section1.pug
    block section3
        include ./main-contents/section3.pug
    block section4
        include ./main-contents/section4.pug
    block sectionnull
        include ./main-contents/sectionnull.pug
    block section6
        include ./main-contents/section6.pug

