article.slide1
    .slide1__left
        span.slide1__description // Есть возможность выбора типа канала
        h2.slide1__title Аренда каналов связи
        p.slide1__subtitle Есть возможность выбора типа канала
        .slide1__button Подробнее
    .slide1__right
        img(src='img/div.png')
