//
    mixin stateIconsheader(image,title,active)
        .forcitizens
            .forcitizens__logo
                +icons(image,"G__style")
            span.poi= title
            i
                +iconas('Vector1')
            breack
    mixin stateIconsheader1
        .forcitizens
            .forcitizens__logo
                +iconas('G')
            span Для граждан
            i
                +iconas('Vector1')


    each ll in [{image: "G", title: "Для граждан", active: false}, {image: "B", title: "Для бизнеса",active: false},{image: "И", title: "Для ИОГВ",active: false}]
    -
        if (document.querySelector('.poi').innerHTML == ll.title){
            stop()
        }
    if  (ll.active == true)
        +stateIconsheader(ll.image,ll.title)


    else
        +stateIconsheader1

