
mixin cardlast(name,limage,fimage)
    .title-last__section
        span.title-last__section-text= name
        a(href="#").left-last__section
            +icons(limage, limage+"__style")
        .right-last__section
            +icons(fimage, fimage+"__style")

each kk in [{name: 'Где можно узнать номера IP телефонов ОГВ И ОМСУ?', limage: 'aa', fimage: 'logofornews'},{name: 'Где можно просмотреть информацию о предоставляемых Учреждением услугах?', limage: 'aa', fimage: 'logofornews'},{name: 'Почему не работает Skype? Почему не открываются некоторые развлекательные и информационные страницы.', limage: 'aa', fimage: 'logofornews'}]
    .card__moon
        if kk.name == "Где можно узнать номера IP телефонов ОГВ И ОМСУ?"
            +cardlast(kk.name, kk.limage, kk.fimage)
        else
            +cardlast(kk.name, kk.limage, kk.fimage)



